.timnas {
  padding-left: 10px;
  font-size: 35px;
  background: linear-gradient(to bottom, red,red, white, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Monospace;
  -webkit-text-stroke: 3px #161A30;
}
.timnas2 {
  margin-top: 15px;
  margin-left: 380px;
}
.timnas3 {
  margin-top: 15px;
  width: 700px;
}
body {
  background-image: url('/Garuda.jpg');
  background-size: 300px;
  background-position: -250px;
  background-position-y: -70px;
}
.WC {
  background: linear-gradient(to bottom, red, red, white, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Monospace;
  font-size: 25px;
  -webkit-text-stroke: 1.3px black;
}
video {
  width: 40%;
  margin-top: 30px;
  margin-bottom: 5px;
}
.argen {
  margin-top: 100px;
  font-family: Monospace;
  font-size: 25px;
  background: linear-gradient(to right, red, red, cyan, cyan, cyan, cyan, cyan);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.4px #ffffff;
}
.afc {
  font-size: 35px;
  background: linear-gradient(to bottom, red, red, black, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 70px;
  font-family: Georgia;
  margin-left: 380px;
  -webkit-text-stroke: 0.8px white;
}
.kualifikasi {
  margin-top: 70px;
  background: linear-gradient(to bottom, #b0a301, #f7d33f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.8px #f4e836;
  font-family: Georgia;
  font-size: 30px
}
.jadwal {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.jadwal:active {
  color: gray;
}
nav {
  font-size: 30px;
  display: flex;
  top: 0;
}
  .list {
  display: none;
}
@media only screen and (max-width : 800px) {
    .list {
    font-size: 30px;
    height: 30px;
    display: flex;
    color: white;
    background-color: black;
    border-radius: 5px;
    background-clip: initial;
}
  nav {
    font-size: 16px;
    margin-bottom: 5vh;
    display: flex;
  }
  ul {
    display: flex;
    border-radius: 3px;
    top: 3vh;
    align-items: left;
    position: absolute;
    left: 0;
    width: 50%;
    background-color: red;
    transform: translateX(-200%);
    transition: 1s;
    opacity: 0;
  }
    .list:active {
      background-color: gray;
    }
  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }
  .timnas {
    -webkit-text-stroke: 1.7px;
    margin-right: 20px;
    font-size: 16px;
    padding-left: 35px;
  }
  .timnas2 {
  margin-top: 15px;
  margin-left: 165px;
}
.timnas3 {
  margin-top: 15px;
  width: 300px;
  }
  .WC {
  background: linear-gradient(to bottom, red, red, white, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Monospace;
  font-size: 12px;
  -webkit-text-stroke: 1.3px black;
}
video {
  margin-top: 30px;
  margin-bottom: 5px;
}
.argen {
  margin-top: 100px;
  font-family: Monospace;
  font-size: 15px;
  background: linear-gradient(to right, red, red, cyan, cyan);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.4px #ffffff;
}
.afc {
  background: linear-gradient(to bottom, red, red, black, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 70px;
  font-family: Georgia;
  margin-left: 160px;
  font-size: 20px;
  -webkit-text-stroke: 0.8px white;
}
.kualifikasi {
  margin-top: 70px;
  background: linear-gradient(to bottom, #b0a301, #f7d33f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.8px #f4e836;
  font-family: Georgia;
  font-size: 20px
  }
  .jadwal{
    font-size: 16px;
  }
}
